<div id='footer'>
  {{site.title}} &copy; {{site.copyright_year}}

  <div class="container">
    <p>
    {% for page in site.pages %}
    {% unless page.navi.exclude == true %}
    <a href="{{ site.url }}{{ page.url }}">{{ page.title | upcase }}</a><br>
    {% endunless %}
    {% endfor %}
    </p>
  </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<script type="text/javascript" src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js'></script>



<script type="text/javascript">
$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 0
});
</script>

<script type="text/javascript">
$(window).scroll(function() {
if ($(this).scrollTop() > 1){
	$('#topbar').find('.container').addClass("sticky");
}
else{
	$('#topbar').find('.container').removeClass("sticky");
}
});
</script>
