<meta charset="utf-8">

<meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

<title>{{page.title}} - {{ site.blog_title }}</title>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/socialicious.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/monokai.css">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--AMP-->
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<style>body {opacity: 0}</style>
<style amp-custom></style>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript>
  <style>body {opacity: 1}</style>
  <style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style>
</noscript>
<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
        "headline": "{{ page.title }}",
        "datePublished": "{{ page.date }}",
        "dateModified": "{{ page.date }}",
        "author": {
          "@type": "Person",
          "name": "{{ site.blog_author }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "{{ site.blog_title }}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ site.url }}{{ site.baseurl }}/images/amp-logo.jpg",
            "width": 500,
            "height": 500
          }
        },
        "image": {
          "@type": "ImageObject",
          "url": "{% if page.feature %}{{ site.url }}{{ site.baseurl }}{{ page.feature }}{% else %}/images/amp-logo.jpg{% endif %}",
          "height": {% if page.feature %}520{% else %}500{% endif %},
          "width": {% if page.feature %}270{% else %}500{% endif %}
        }
      }
    </script>
