<div id="topbar">
	<div class="container">
		<div id='heading'>
			<div id='logo'>
				<a href='{{site.url}}'>{{site.title}}</a>
		   </div>
		</div>
		<div class="blogcats">
			<a href="/">HOME</a>
			<a class="emphasis" href="#">EXTRA</a>&nbsp;
				{% for page in site.pages %}
				{% if page.navi.special == true %}
					<a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>&nbsp;
				{% endif %}
				{% endfor %}
				{% for page in site.posts %}
				{% if page.navi.special == true %}
					<a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>&nbsp;
				{% endif %}
				{% endfor %}
		</div>
		<div class="blogcats">
			<a href="#">BLOG</a> &nbsp;
			<a  class="emphasis" href="#" title="Newly updated posts">NEW</a>&nbsp;
			{% for page in site.pages %}
			{% unless page.navi.exclude == true %}
				<a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>&nbsp;
			{% endunless %}
			{% endfor %}
		</div>
		<div class="" id="prices"></div>
	</div>
</div>
<section id="for-ya">
	<b>Grab your frebie: </b>
  <a href="#">COUPONS</a>
  <a href="#">SUBSCRIBE</a>
  <a href="#">REVIEWS</a>
  <a href="#">BLOG</a>
	<a href="#">DOWNLOADS</a>
  <a href="#">TOOLS</a>
</section>
