<!doctype html>
<html amp lang="en">
	<head>
		{% include head.html %}
		<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
	</head>
	<body>
		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>
		<div id='content'>
			<div id='page'>
				<h1 id='page-title'>{{page.title | capitalize }}</h1>
				{% if page.date %}
				<p>
					<em>
						Last update: {% if page.updated %}{{ page.updated | date: '%B %d, %Y'  }}{% else %}{{ page.date | date: '%B %d, %Y'  }}{% endif %}
					</em>
				</p>
				{% endif %}
				{{content}}
			</div>
			<div class="rightblock">
				{% include sidebar.html %}
			</div>
		</div>
		<div style='clear:both'></div>
		{% include footer.html %}
	</div>
</body>
</html>
