<!doctype html>
<html amp lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>
		<div id='content' class="hp">
			<div id='posts' class="leftblock">


				<div class="container-left">
					{{ site.ads.aadslong }}
				</div>

				<div class="container-left">
					<h3 class='quick-links'>
						<a href="/news/">All latest news</a>
					</h3>
				</div>




				<div class="grid">
					{% for post in site.posts %}

						<div class='grid-item post'>
							{% if post.image %}
								<a href='{{post.url}}'>
									<img  src="{% if post.image[1] %}{{post.image[0]}}{% else %}{{post.image}}{% endif %}" class='post-image'/>
								</a>
							{% endif %}
							<div class="postcontent">
								<a href='{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>
								<div class='post-content'>
									<em>{% if post.updated %}<a href="/category/updated/">Updated:</a>&nbsp;{{ post.updated | date_to_string }}<br>Originally from&nbsp;{{ post.date | date_to_string }}{% else %}Posted:&nbsp;{{ post.date | date_to_string }}{% endif %}</em><br>
									&middot;<br>
									{% if post.summary %}{{post.summary}}{% else %}{{post.description}}{% endif %}</div>
							</div>
						</div>
					{% endfor %}
				</div>


				<div class="home-bottom">


				{{ site.ads.acashlong }}

				<section class="updated">

					<h1 class='page-title'>Get an ebook for free</h1>

					<div style="float:left;width:100%;padding-top:25px;margin-bottom:25px;">

					  <div style="float:left;width:20%;margin-right:15px">
					    <a href='/downloads'>
					      <img  src="/images/blog/post6.jpg" class='post-image'/>
					    </a>
					  </div>

					  <div style="float:left;width:65%">
							<h3 class="cat-post-title">
						  <a href="/downloads">Downloads</a>
						  </h3>
					    <p>
								<em>"The hard, cold reality of trading is that every trade has an uncertain outcome. Unless you learn to
								completely accept the possibility of an uncertain outcome, you will try either consciously or
								unconsciously to avoid any possibility you define as painful. In the process, you will subject yourself to
								any number of self-generated, costly errors."</em>
					    &nbsp;
					    <a href="/downloads">[...]</a></p>
					  </div>

					</div>

				<br>

				<h4>Lorem ipsum</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<h4>Lorem ipsum</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			</section><!-- / .updated -->

			</div>

			</div><!-- end leftblock -->
			<div class="rightblock">
				{% include sidebar.html %}
			</div>
			<div style='clear:both'></div>
		</div>

		{% include footer.html %}



	</div>
</body>
</html>
